<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161929574535-35n926k2oobo3jntusq6jpqr4pongl5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161929574535-35n926k2oobo3jntusq6jpqr4pongl5m</string>
	<key>API_KEY</key>
	<string>AIzaSyBfZxQyWjS9jP5mWeuWdQSJYug8F3NMSpE</string>
	<key>GCM_SENDER_ID</key>
	<string>161929574535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lamarkTemp</string>
	<key>PROJECT_ID</key>
	<string>lamarktempmonitor</string>
	<key>STORAGE_BUCKET</key>
	<string>lamarktempmonitor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161929574535:ios:4d6617465938ebbce86022</string>
</dict>
</plist>